body {
    margin: 0; 
}
.container {  
    width: 100%;  
    margin: 0 auto;  
}
header::after {  /* Clearfix, utan att skriva detta så försvinner min header/nav till 0px */
    content: '';  
    display: table;   
    clear: both;
}
nav ul { 
    margin: 0; 
}
.namn { /* Namn på class */
    position: fixed; /* Position på sida */
    bottom: 15px; /* Botten på sidan */
    padding-left: 10px; /* Kudde på vänster sida */
    padding-right: 10px; /* Kudde på höger sida */
}