body {
    background-color: rgb(32, 30, 30); /* sätter bakgrunds färgen */
    background-image: url(icon.png); /* bestämmer att bakgrunden kommer att uppstå av bilden som definerad här */ 
    background-size: 8vh; /* Storlek på bilden som uppstår */
}
header {  
    background:rgb(255, 255, 255); /* Bakgrundsfärgen på headern ändras färg */
}
li > a {  /* a tag i li tag */
    color: rgb(0, 0, 0); /* svart färg */
    font-size: 30px; /* text storlek blir ändrad */
}
nav {   
    list-style: none; /* Tar bort punkter som uppstår naturligt vid en lista */
    text-decoration: none; /* tar bort dekoration vid texten */
}
nav ul { 
    margin: 0; 
    list-style: none; 
}
li:hover{
    background-color: rgb(0, 0, 0);
}
.logo {
    float: left; 
    padding-left: 5px;
}
nav li , .dropdown, .container {  
    display: inline-block;
    margin-left: 30px; 
    text-align: left; 
    padding: 8px;
}
.namn { /* Namn på class */
    background-color: rgb(169, 169, 169); /* Bakgrundsfärg */
    box-shadow: 10px 10px 60px 10px; /* Skugga */
}