body {
    background-color: rgba(83, 66, 66, 0.733); 
    margin: 0; 
}
.container {  
    width: 80%;  
    margin: 0 auto;  
}
header {  
    background:rgb(255, 255, 255); 
    box-shadow: 1px 22px 100px 10px;
}
header::after {  /* Clearfix, utan att skriva detta så försvinner min header/nav till 0px */
    content: '';  
    display: table;   
    clear: both;
}
li > a { 
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-transform: dotted;
}
nav {
    list-style: none;
    text-decoration: none;
}
nav ul { 
    margin: 0; 
    list-style: none; 
}
nav li , .dropdown, .container {  
    display: inline-block;
    margin-left: 30px; 
    text-align: left; 
    padding: 8px;
}
li:hover{
    background-color: rgb(100, 100, 100);
}
.logo {
    float: left; 
    padding-left: 5px;
}